<div class="container-fluid main-content">
    <div class="row">
        <section class="col-md-12">
            <div class="mt-3 mb-3">
                <h3> Product List</h3>
            </div>
            <table class="table">
                <thead class="thead-light thead">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Quantity in KG</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i = index" [ngClass]="rowIndex === i ? 'active' : ''" (click)="product_clicked(i)">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.created}}</td>
                        <td [ngClass]="product.qty < 50 ? 'bg-danger' : ''">{{product.qty}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <i class="fa fa-eye icon"></i>
                            <i class="fa fa-pencil-square-o icon"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>