<div class="container-fluid main-content">
    <div class="row">
        <section [ngClass]="showAddProduct || showEditProduct ? 'col-md-7' : 'col-md-12'">
            <div class="mt-3 mb-3 product-header">
                <h3>Product List 
                    <span *ngIf="!isLoading" (click)="refresh()" style="cursor: pointer;"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                    <span *ngIf="isLoading" ><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></span>
                </h3>
                <button *ngIf="!showAddProduct" type="button" class="btn btn-outline-primary" (click)="showAddProducts()">Add Product</button>
                <button *ngIf="showAddProduct" type="button" class="btn btn-outline-secondary" (click)="hideAddProducts()">Close Product</button>
            </div>
            <table class="table table-responsive">
                <thead class="thead-light thead">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col" class="textright">Quantity in KG</th>
                        <th scope="col" class="textright">Unit Price</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i = index" [ngClass]="rowIndex === i ? 'active' : ''" (click)="product_clicked(i, product)">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.productName | uppercase}}</td>
                        <td>{{product.description | contentLimiter}}</td>
                        <td>{{product.createdDate | date: "MM/dd/YYYY"}}</td>
                        <td [ngClass]="product.quantity < 50 ? 'bg-danger' : ''" class="textright">{{product.quantity}}</td>
                        <td class="textright">{{product.unitPrice | currency: 'LKR '}}</td>
                        <td>
                            <a [routerLink]="['/product-detail-view', product.id]">
                                <button
                                  type="button"
                                  [disabled]="rowIndex != i"
                                  class="btn-xs icon"
                                >
                                  <i class="fa fa-eye"></i>
                                </button>
                              </a>
                            <button
                            type="button"
                            [disabled]="rowIndex != i"
                            class="btn-xs icon"
                            (click)="OpenEditProductView()"
                          >
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-md-5" *ngIf="showAddProduct || showEditProduct">
            <app-add-product
              *ngIf="showAddProduct"
              (cancelAddView)="hideAddProducts()"
              (productAddEvent)="updateProductList()"
            ></app-add-product>
            <app-edit-product
              *ngIf="showEditProduct"
              [product]="selectedProduct"
              (cancelEditView)="closeEditView()"
              (productAddEvent)="updateProductList()"
            ></app-edit-product>
          </section>
    </div>
</div>